@model Car
@{
    ViewData["Title"] = "Razor Syntax";
}

<h1>Razor Syntax</h1>

@for (int i = 0; i < 15; i++)
{
    //do something
}
@{
    //Code Block
    var foo = "Foo";
    var bar = "Bar";
    var htmlString = "<ul><li>one</li><li>two</li></ul>";
}
@foo
<br/>
@htmlString
<br/>
@foo.@bar
<br/>
@foo.ToUpper()
<br/>
@Html.Raw(htmlString)
<hr/>
@{
    @:Straight Text
    <div>Value:@Model.Id</div>
    <text>
        Lines without HTML tag
    </text>
    <br/>
}

<hr/>
@*
    Multiline Comments
    Hi.
*@
Email Address Handling:
<br/>
foo@foo.com = foo@foo.com
<br/>
@@foo
<br/>
test@foo = test@foo
<br/>
test@(foo) = testFoo
<br/>
<hr/>

@functions {

    public static IList<string> SortList(IList<string> strings)
    {
        var list = from s in strings orderby s select s;
        return list.ToList();
    }

}

--------------------------------------------------------------
@{
    var myList = new List<string> { "C", "A", "Z", "F" };
    var sortedList = SortList(myList); //MyFunctions.SortList(myList)
}
@foreach (string s in sortedList)
{
    @s

    @:&nbsp;
}
<hr/>
@{
    Func<dynamic, object> b = @<strong>@item</strong>;
}
This will be bold: @b("Foo")
<hr />
@* If the templates were in the shared folder, you wouldn't need the full path listed*@
@Html.DisplayForModel("../Cars/DisplayTemplates/Car.cshtml")
@Html.DisplayForModel("../Cars/DisplayTemplates/CarWithColors.cshtml")
<hr/>
@Html.EditorForModel("../Cars/EditorTemplates/Car.cshtml")
<hr/>
<a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.Id">@Model.PetName</a>
