@page "{id?}"
@model AutoLot.Web.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details for @Model.Car.PetName</h1>

@Html.DisplayFor(m=>m.Car)
@Html.DisplayFor(m=>m.Car,"CarWithColors")

<div>
    <car-edit car-id="@Model.Car.Id"></car-edit> |
    <car-delete car-id="@Model.Car.Id"></car-delete> |
    <a asp-page="./Index">Back to List</a>
</div>

