@page "{id?}"
@model AutoLot.Web.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details for @Model.Car.PetName</h1>

@Html.DisplayFor(m=>m.Car)
@Html.DisplayFor(m=>m.Car,"CarWithColors")

<div>
    <item-edit car-id="@Model.Car.Id"></item-edit> |
    <item-delete car-id="@Model.Car.Id"></item-delete> |
    <item-list></item-list>
</div>

