@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicle Makes</h1>

<p>
    <item-create></item-create>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Makes[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Makes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <item-edit car-id="@item.Id"></item-edit> |
                <item-details car-id="@item.Id"></item-details> |
                <item-delete car-id="@item.Id"></item-delete>
            </td>
        </tr>
}
    </tbody>
</table>
