@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make[0].TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Make) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <car-edit car-id="@item.Id"></car-edit> |
                <car-details car-id="@item.Id"></car-details> |
                <car-delete car-id="@item.Id"></car-delete>
            </td>
        </tr>
}
    </tbody>
</table>
