@model AddToCartViewModel
@if (Model.Quantity == 0)
{
    Model.Quantity = 1;
}
<h1 class="visible-xs">@Html.DisplayFor(x => x.ModelName)</h1>
<div class="row ">
    <div class="col-sm-6 "><img src="@Url.Content($"~/images/{Model.ProductImageLarge}")" /></div>
    <div class="col-sm-6">
        <h1 class="hidden-xs">@Html.DisplayFor(x => x.ModelName)</h1>
        <div>Price:</div><div>@Html.DisplayFor(x => x.CurrentPrice)</div>
        <div>Only @Html.DisplayFor(x => x.UnitsInStock) left.</div>
        <div></div>
        <div>@Html.DisplayFor(x => x.Description)</div>
        <ul>
            <li> <div>MODEL NUMBER:</div> @Html.DisplayFor(x => x.ModelNumber)</li>
            <li>
                <div>CATEGORY:</div>
                <a asp-controller="Products" asp-action="ProductList"
                   asp-route-id="@Model.CategoryId">@Model.CategoryName</a>
            </li>
        </ul>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="CategoryName" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="UnitsInStock" />
        <input type="hidden" asp-for="UnitCost" />
        <input type="hidden" asp-for="ModelName" />
        <input type="hidden" asp-for="ModelNumber" />
        <input type="hidden" asp-for="TimeStamp" />
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="LineItemTotal" />
        <input type="hidden" asp-for="CurrentPrice" />
        <input type="hidden" asp-for="ProductImage" />
        <input type="hidden" asp-for="ProductImageLarge" />
        <input type="hidden" asp-for="ProductImageThumb" />
        <div class="row">
            <label>QUANTITY:</label>
            <input asp-for="Quantity" class="form-control" />
            <input type="submit" value="Add to Cart" class="btn btn-primary" />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
</div>
