@model IEnumerable<Make>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <item-edit item-id="@item.Id"></item-edit> | 
                <item-details item-id="@item.Id"></item-details> | 
                <item-delete item-id="@item.Id"></item-delete>
            </td>
        </tr>
}
    </tbody>
</table>
